.container {
  border: 1px solid #eee;
  border-radius: 300px;
  bottom: 0;
  display: table;
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.row {
  align-items: center;
  display: flex;
}

h3 {
  font-weight: 300;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .container {
    border: none;
    display: block;
    text-align: center;
  }

  .row {display: block;}

  .list-inline {margin-bottom: 0;}

  .list-inline li {margin-bottom: 10px;}
}
